html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Zapobiega pojawianiu się pasków przewijania */
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    height: 100%;
}

#chessboardCanvas {
    margin: 1%;
    width: 800px;
    height: 800px;
    border: 1px solid black;
}

.controls {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.control-group {
    display: flex;
    align-items: center;
}

.control-label {
    width: 200px;
    font-size: 16px;
}

.slider-input {
    flex: 1;
    width: 200px; /* Zmniejszenie szerokości sliderów */
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
